/* CSS for CreateAccount component */

/* Container for the form */
.createbg-container {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-image: url('../components/createaccbg.jpg'); /* Relative path to the image */
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Ensure the background image doesn't repeat */
}

/* Style for form header */
h3 {
  font-size: 24px;
  margin-bottom: 10px; /* Reduced margin */
}

/* Style for form */
form {
  max-width: 400px;
  margin: 0 auto;
}

/* Style for form inputs */
label {
  display: block;
  margin-bottom: 5px; /* Reduced margin */
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  width: 100%;
  padding: 8px; /* Reduced padding */
  margin-bottom: 10px; /* Reduced margin */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Style for submit button */
button[type="submit"],
button[type="button"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #0056b3;
}

/* Style for success message */
h5 {
  font-size: 20px;
  color: #4caf50;
  margin-bottom: 10px; /* Reduced margin */
}

/* Additional CSS for specific elements */
#createAccountCard h1,
#createAccountCard h3,
#createAccountCard label {
  color: #ffffff; /* Changed color to white */
  margin-bottom: 10px; /* Reduced margin */
}

#createAccountAmount {
  margin-bottom: 10px; /* Reduced margin */
  padding: 8px; /* Reduced padding */
}

button {
  padding: 10px 20px; /* Adjusted padding */
}

p {
  margin-top: 10px; /* Reduced margin */
}
