.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Container for the form */
.loginbg-container {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-image: url('../components/loginbg.jpg'); /* Relative path to the image */
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Ensure the background image doesn't repeat */
}
